/* ParticleBackground.css */
@keyframes move {
    0%, 100% {
      transform: translateY(0) translateX(0) rotate(0);
    }
    25% {
      transform: translateY(-200px) translateX(200px) rotate(45deg);
    }
    50% {
      transform: translateY(0) translateX(400px) rotate(90deg);
    }
    75% {
      transform: translateY(200px) translateX(200px) rotate(135deg);
    }
  }
  
  .particles-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  
  .particle {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(192, 192, 192, 0.03); /* Less opacity */
    animation: move 6s linear infinite;
    top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  }
  
  .particle-1 {
    transform: translate(50%, 30%);
  }
  
  .particle-2 {
    transform: translate(80%, 20%);
  }
  
  .particle-3 {
    transform: translate(20%, 40%);
  }
  
  .particle-4 {
    transform: translate(70%, 60%);
  }
  
  .particle-5 {
    transform: translate(30%, 80%);
  }
  
  .particle-6 {
    transform: translate(90%, 70%);
  }
  
  .particle-7 {
    transform: translate(10%, 10%);
  }
  
  .particle-8 {
    transform: translate(40%, 90%);
  }
  
  .particle-9 {
    transform: translate(60%, 50%);
  }
  
  .particle-10 {
    transform: translate(85%, 85%);
  }
  
  /* Add more .particle classes for additional particles */
  